<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href='./css/styles.css'>
    <link rel="icon" href="/img/weather1.png">
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This website was created by Ashutosh Chatterjee.</p>
      <p>It uses data from mapbox.com and weatherstack.com.</p>
    </div>
    {{>footer}}
  </body>
</html>
