<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='./css/styles.css'>
    <link rel="icon" href="/img/weather1.png">
    <meta charset="utf-8">
    <title>Weather</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="/img/weather.png">
      <p>Use this site to get your weather!</p>
      <form>
        <input type="text" name="location" placeholder="location">
        <button type="submit" name="button">Search</button>
      </form>
      <p id="message-1"></p>
      <p id="message-2"></p>
    </div>
    {{>footer}}
    <script src="./js/first.js"></script>
  </body>
</html>
